In [1]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi

start = 20160101
end = 20180101

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("13226600373", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MjM2MTE3NTk3NjMiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTMyMjY2MDAzNzMifQ.ntiSE-XOA5n_X3Hl_4OoHlKyWOIzsJO6dBnxjReyJIc'
)

ZZ800_id = dp.index_cons(api, "000906.SH", start, end)

stock_symbol = list(set(ZZ800_id.symbol.values))

In [2]:
import jaqs_fxdayu
jaqs_fxdayu.patch_all()
from jaqs.data import DataView
from jaqs.data import RemoteDataService
from jaqs_fxdayu.data.dataservice import LocalDataService
import os
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

dataview_folder = '../../data'
dv = DataView()
ds = LocalDataService(fp=dataview_folder)


factor_list = ['volume']
check_factor = ','.join(factor_list)

dv_props = {'start_date': start, 'end_date': end, 'symbol':','.join(stock_symbol),
         'fields': check_factor,
         'freq': 1,
         "prepare_fields": True}

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

D:\Program Files\Anaconda3\lib\importlib\__init__.py:126: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  return _bootstrap._gcd_import(name[level:], package, level)
D:\Program Files\Anaconda3\lib\site-packages\jaqs\research\signaldigger\plotting.py:10: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "D:\Program Files\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "D:\Program Files\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "D:\Program Files\Anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 477, in start
    ioloop.IOLoop.instance().start()
  File "D:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\ioloop.py", line 177, in start
    super(ZMQIOLoop, self).start()
  File "D:\Program Files\Anaconda3\lib\site-packages\tornado\ioloop.py", line 888, in start
    handler_func(fd_obj, events)
  File "D:\Program Files\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "D:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 440, in _handle_events
    self._handle_recv()
  File "D:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 472, in _handle_recv
    self._run_callback(callback, msg)
  File "D:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 414, in _run_callback
    callback(*args, **kwargs)
  File "D:\Program Files\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 235, in dispatch_shell
    handler(stream, idents, msg)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 196, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "D:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2717, in run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "D:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2821, in run_ast_nodes
    if self.run_code(code, result):
  File "D:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2881, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-f73fa37da276>", line 1, in <module>
    from jaqs_fxdayu.util import dp
  File "D:\Program Files\Anaconda3\lib\site-packages\jaqs_fxdayu\__init__.py", line 4, in <module>
    import matplotlib.pyplot  # 防止被JAQS重载
  File "D:\Program Files\Anaconda3\lib\site-packages\matplotlib\pyplot.py", line 71, in <module>
    from matplotlib.backends import pylab_setup
  File "D:\Program Files\Anaconda3\lib\site-packages\matplotlib\backends\__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  mpl.use('Agg')

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'trade_date,volume,open,high_adj,close_adj,high,vwap,open_adj,vwap_adj,trade_status,low_adj,low,symbol,close'}
下载进度946/981.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'open,high,vwap,low,close,symbol,trade_date'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

# Spearman_Check

In [6]:
import scipy.stats as scst
import jaqs.util as jutill


def spearman_factor(factor_u='factor_u', factor_j='factor_j', start=20160101, symbol=stock_symbol):
    factors = dict()
    factors["factor_u"] = dv.get_ts(factor_u).loc[start:][stock_symbol].stack()
    factors["factor_j"] = dv.get_ts(factor_j).loc[start:][stock_symbol].stack()

    factors_df = pd.concat(factors.values(),axis=1)
    factors_df.columns = factors.keys()
    factors_df = jutill.fillinf(factors_df).dropna()

    # 两个因子的spearman相关性
    def get_factors_daily_corr(factors_df,
                               f1="factor_u",
                               f2="factor_j"):
        def _cal_corr(df):
            return scst.spearmanr(df[f1], df[f2])[0]

        result = factors_df.groupby(['trade_date']).apply(_cal_corr)
        result = pd.DataFrame(result)
        result.columns = ['spearmanr']
        return result

    result = get_factors_daily_corr(factors_df,"factor_u","factor_j")
    t_stat, p_value = scst.ttest_1samp(result, 0)
    return result.mean(), p_value # 相关关系均值,相关关系均值的ｔ统计量的p_value

## MktValue描述
$MktValue = 收盘价*总股本$

In [ ]:
dv.add_field('total_mv', ds)

In [ ]:
MktValue = dv.add_formula('MktValue', "close*capital_stk", is_quarterly=False, add_data=True)

In [ ]:
print(spearman_factor(factor_u='total_mv', factor_j='MktValue', start=20160101, symbol=stock_symbol))

## ROEAvg
$ROEAvg = 归属于母公司的净利润*2/(期末归属于母公司的所有者权益+期初归属于股公司的所有者权益)*100%$

In [ ]:
dv.add_field('total_mv', ds)

In [ ]:
dv.add_field('tot_shrhldr_eqy_excl_min_int', ds)

In [ ]:
dv.get_ts_quarter('tot_shrhldr_eqy_excl_min_int')

## AD20
$AD20 = MA(AD,20)$

In [ ]:
dv.add_field('AD20', ds)

In [3]:
dv.add_field('AD', ds)

Query data - query...
当前请求query...
{'fields': 'AD', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [8]:
dv.add_field('AD_JJ', ds)

Field name [AD_JJ] not valid, ignore.

False

In [ ]:
dv.get_ts('AD20')

In [9]:
AD = dv.add_formula('AD_JJ',
                    "Ta('AD',0,0,high,low,close,volume)",
                      is_quarterly=False, add_data=True)
# AD20 = dv.add_formula('AD20_J',
#                       "Ta('MA',0,0,0,0,AD_J,0,20)",
#                       is_quarterly=False, add_data=True)

In [12]:
dv.get_ts('AD_JJ').head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,-1.176657e+08,1.977666e+09,-7.893702e+07,2.086569e+06,-4.902261e+08,-2.895839e+07,9.155608e+07,4.134600e+06,-9.835219e+07,0.0,...,NaN,NaN,0.000000e+00,NaN,NaN,2.509134e+07,-3.289418e+06,NaN,5.654023e+06,4.009368e+08
20160105,-1.050320e+08,1.977666e+09,-7.624363e+07,1.308854e+07,-4.925859e+08,-9.988578e+05,8.590375e+07,-1.728671e+06,-9.136172e+07,0.0,...,NaN,NaN,0.000000e+00,NaN,NaN,2.468959e+07,-5.069173e+06,NaN,1.175961e+07,4.418966e+08
20160106,-7.166275e+07,1.977666e+09,-5.915207e+07,1.778748e+07,-4.632368e+08,3.047872e+07,1.039971e+08,4.206649e+06,-7.815364e+07,0.0,...,NaN,NaN,0.000000e+00,NaN,NaN,2.740914e+07,-5.007392e+06,NaN,1.589710e+07,5.929846e+08
20160107,-8.704172e+07,1.977666e+09,-6.409337e+07,1.530582e+07,-4.807124e+08,1.729729e+07,9.890960e+07,-3.680366e+05,-8.293931e+07,0.0,...,NaN,NaN,5.033638e+06,NaN,NaN,2.656782e+07,-7.179368e+06,NaN,1.461120e+07,5.498674e+08
20160108,-7.745804e+07,1.977666e+09,-5.924854e+07,2.039335e+07,-4.550335e+08,4.029445e+07,1.062621e+08,1.879275e+07,-7.376047e+07,0.0,...,NaN,NaN,2.992548e+07,NaN,NaN,2.822048e+07,-5.533681e+05,NaN,1.860299e+07,6.101187e+08

In [13]:
dv.get_ts('AD').head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,4039.0644,NaN,1735.3614,612.6118,191.6383,2182.6178,1524.4888,1025.1049,1585.7825,NaN,...,NaN,NaN,0.0899,NaN,NaN,127.8403,-52.5478,NaN,107.5029,2253.3997
20160105,4051.5608,NaN,1738.0596,623.6284,189.3166,2210.5628,1518.8384,1019.2416,1592.7703,NaN,...,NaN,NaN,0.5380,NaN,NaN,127.4386,-54.3297,NaN,113.6116,2294.3398
20160106,4085.3229,NaN,1755.1512,628.3061,218.6289,2242.0404,1536.9317,1025.1769,1606.0043,NaN,...,NaN,NaN,0.6126,NaN,NaN,130.1574,-54.2590,NaN,117.7475,2445.4278
20160107,4069.8928,NaN,1750.2099,625.8250,201.1533,2228.8590,1531.8449,1020.6022,1601.2266,NaN,...,NaN,NaN,5.6442,NaN,NaN,129.3161,-56.4310,NaN,116.4616,2402.3106
20160108,4079.2369,NaN,1755.0394,630.9200,226.8442,2251.8369,1539.1587,1039.7630,1610.3713,NaN,...,NaN,NaN,30.5360,NaN,NaN,130.9694,-49.8082,NaN,120.4528,2462.4417

In [ ]:
dv.get_ts('AD20_J')

In [7]:
print(spearman_factor(factor_u='AD', factor_j='AD_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.514635
dtype: float64, array([  7.08104388e-281]))

## alpha122

In [ ]:
def sma(df, n, m):
    a = n / m - 1
    r = df.ewm(com=a, axis=0, adjust=False)
    return r.mean()

In [ ]:
alpha122 = dv.add_formula("alpha122","(SMA(SMA(SMA(Log(close),13,2),13,2),13,2)-Delay(SMA(SMA(SMA(Log(close),13,2),13,2),13,2),1))/Delay(SMA(SMA(SMA(Log(close),13,2),13,2),13,2),1)",
                          is_quarterly=False,
                          add_data=True,
                          register_funcs={"SMA":sma})

In [ ]:
dv.get_ts("alpha122")

# BIAS10
$BIAS = (close/MA(close,N)-1)*100$ &nbsp;&nbsp;&nbsp;&nbsp;(N=10)

In [ ]:
dv.add_field('BIAS10', ds)

In [ ]:
BIAS10 = dv.add_formula('BIAS10_J', 
                        "(close/Ta('MA',0,open,high,low,close,volume,10)-1)*100", 
                        is_quarterly=False, add_data=True)

In [ ]:
print(spearman_factor(factor_u='BIAS10', factor_j='BIAS10_J', start=20160101, symbol=stock_symbol))

## alpha136
$alpha136 = ((-1 * RANK(DELTA(RET, 3))) * CORR(OPEN, VOLUME, 10))$

In [17]:
alpha136 = dv.add_formula("alpha136","((-1*Rank(Delay(Return(close,1,0), 3)))*Correlation(open, volume, 10))",
                          is_quarterly=False,
                          add_data=True)

In [19]:
dv.get_ts("alpha136").head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,-93.541864,NaN,-490.060552,-405.485912,198.176010,-15.322493,-391.505391,-124.498639,-245.682467,NaN,...,NaN,NaN,NaN,NaN,NaN,-232.630974,1.934478,NaN,-202.516167,-79.430610
20160105,-103.623783,NaN,-159.483389,105.967446,5.482369,-181.990969,-117.444076,-11.325993,-3.867436,NaN,...,NaN,NaN,-590.761954,NaN,NaN,-50.847287,231.233426,NaN,0.267473,22.505585
20160106,-173.052101,NaN,-118.033501,210.337345,-20.800600,-185.143054,-79.388741,-15.763672,-55.717310,NaN,...,NaN,NaN,-516.198853,NaN,NaN,-41.451709,26.606062,NaN,-219.772475,425.758473
20160107,-295.727372,NaN,-175.899299,44.775693,-7.607261,-250.492254,-2.855234,-20.596388,-65.489934,NaN,...,NaN,NaN,-689.114221,NaN,NaN,-42.323401,17.634880,NaN,3.421249,242.131020
20160108,-51.792176,NaN,-41.377633,216.245293,-69.331127,-197.402504,-9.690350,-6.460119,83.682903,NaN,...,NaN,NaN,-660.957541,NaN,NaN,-42.671538,14.956777,NaN,113.771999,246.854560

## SUE[P95]
## $SUE = \frac{NP_1-mean(NP_{-1})}{sd(NP_{-1})}$

In [ ]:
dv.add_field('net_profit', ds)

In [ ]:
dv.get_ts_quarter('net_profit')

## LongDebtToAsset[P50]

## $LongDebtToAsset = \frac{LTL}{TA}$

In [ ]:
dv.add_field('lt_borrow', ds)

In [ ]:
dv.add_field('tot_assets', ds)

In [ ]:
# dv.add_field('LongDebtToAsset', ds)

In [ ]:
LongDebtToAsset = dv.add_formula('LongDebtToAsset_J',
                                 "lt_borrow/tot_assets",
                                 is_quarterly=False, add_data=True)

In [ ]:
print(spearman_factor(factor_u='LongDebtToAsset', factor_j='LongDebtToAsset_J', start=20160101, symbol=stock_symbol))