In [1]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi

start = 20160101
end = 20180101

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("13226600373", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MjM2MTE3NTk3NjMiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTMyMjY2MDAzNzMifQ.ntiSE-XOA5n_X3Hl_4OoHlKyWOIzsJO6dBnxjReyJIc'
)

ZZ800_id = dp.index_cons(api, "000906.SH", start, end)

stock_symbol = list(set(ZZ800_id.symbol.values))

In [2]:
import jaqs_fxdayu
jaqs_fxdayu.patch_all()
from jaqs.data import DataView
from jaqs.data import RemoteDataService
from jaqs_fxdayu.data.dataservice import LocalDataService
import os
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

dataview_folder = '../../data'
dv = DataView()
ds = LocalDataService(fp=dataview_folder)


factor_list = ['volume']
check_factor = ','.join(factor_list)

dv_props = {'start_date': start, 'end_date': end, 'symbol':','.join(stock_symbol),
         'fields': check_factor,
         'freq': 1,
         "prepare_fields": True}

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

D:\Program Files\Anaconda3\lib\importlib\__init__.py:126: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  return _bootstrap._gcd_import(name[level:], package, level)
D:\Program Files\Anaconda3\lib\site-packages\jaqs\research\signaldigger\plotting.py:10: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "D:\Program Files\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "D:\Program Files\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "D:\Program Files\Anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelapp.py", line 477, in start
    ioloop.IOLoop.instance().start()
  File "D:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\ioloop.py", line 177, in start
    super(ZMQIOLoop, self).start()
  File "D:\Program Files\Anaconda3\lib\site-packages\tornado\ioloop.py", line 888, in start
    handler_func(fd_obj, events)
  File "D:\Program Files\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "D:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 440, in _handle_events
    self._handle_recv()
  File "D:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 472, in _handle_recv
    self._run_callback(callback, msg)
  File "D:\Program Files\Anaconda3\lib\site-packages\zmq\eventloop\zmqstream.py", line 414, in _run_callback
    callback(*args, **kwargs)
  File "D:\Program Files\Anaconda3\lib\site-packages\tornado\stack_context.py", line 277, in null_wrapper
    return fn(*args, **kwargs)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 235, in dispatch_shell
    handler(stream, idents, msg)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\ipkernel.py", line 196, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "D:\Program Files\Anaconda3\lib\site-packages\ipykernel\zmqshell.py", line 533, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "D:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2717, in run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "D:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2821, in run_ast_nodes
    if self.run_code(code, result):
  File "D:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2881, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-f73fa37da276>", line 1, in <module>
    from jaqs_fxdayu.util import dp
  File "D:\Program Files\Anaconda3\lib\site-packages\jaqs_fxdayu\__init__.py", line 4, in <module>
    import matplotlib.pyplot  # 防止被JAQS重载
  File "D:\Program Files\Anaconda3\lib\site-packages\matplotlib\pyplot.py", line 71, in <module>
    from matplotlib.backends import pylab_setup
  File "D:\Program Files\Anaconda3\lib\site-packages\matplotlib\backends\__init__.py", line 16, in <module>
    line for line in traceback.format_stack()


  mpl.use('Agg')

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'trade_date,low_adj,close_adj,symbol,low,volume,open,vwap,high_adj,trade_status,high,close,open_adj,vwap_adj'}
下载进度946/981.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'low,open,vwap,high,close,symbol,trade_date'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

# Spearman_Check

In [3]:
import scipy.stats as scst
import jaqs.util as jutill


def spearman_factor(factor_u='factor_u', factor_j='factor_j', start=20160101, symbol=stock_symbol):
    factors = dict()
    factors["factor_u"] = dv.get_ts(factor_u).loc[start:][stock_symbol].stack()
    factors["factor_j"] = dv.get_ts(factor_j).loc[start:][stock_symbol].stack()

    factors_df = pd.concat(factors.values(),axis=1)
    factors_df.columns = factors.keys()
    factors_df = jutill.fillinf(factors_df).dropna()

    # 两个因子的spearman相关性
    def get_factors_daily_corr(factors_df,
                               f1="factor_u",
                               f2="factor_j"):
        def _cal_corr(df):
            return scst.spearmanr(df[f1], df[f2])[0]

        result = factors_df.groupby(['trade_date']).apply(_cal_corr)
        result = pd.DataFrame(result)
        result.columns = ['spearmanr']
        return result

    result = get_factors_daily_corr(factors_df,"factor_u","factor_j")
    t_stat, p_value = scst.ttest_1samp(result, 0)
    return result.mean(), p_value # 相关关系均值,相关关系均值的ｔ统计量的p_value

## MktValue描述
$MktValue = 收盘价*总股本$

In [4]:
dv.add_field('total_mv', ds)

Query data - query...
当前请求query_lb_dailyindicator...
{'fields': 'symbol,total_mv,trade_date'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [5]:
MktValue = dv.add_formula('MktValue', "close*capital_stk", is_quarterly=False, add_data=True)

Variable [capital_stk] is not recognized (it may be wrong),try to fetch from the server...
Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

In [6]:
print(spearman_factor(factor_u='total_mv', factor_j='MktValue', start=20160101, symbol=stock_symbol))

(spearmanr    0.936726
dtype: float64, array([ 0.]))

## ROEAvg
$ROEAvg = 归属于母公司的净利润*2/(期末归属于母公司的所有者权益+期初归属于股公司的所有者权益)*100%$

In [7]:
# 获取原有ROEAvg
dv.add_field('ROEAvg', ds)

Field name [ROEAvg] not valid, ignore.

False

#### 源数据无ROEAvg因子

In [8]:
# 净利润
dv.add_field('net_profit', ds)
# 归属于母公司的所有者权益
dv.add_field('tot_shrhldr_eqy_excl_min_int', ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [9]:
from datetime import datetime
def int2datetime(df):
    df2 = df.copy()
    date = []
    for i in df2.index:
        date.append(datetime.strptime(str(i), "%Y%m%d"))
    df2['datetime'] = date
    df2.set_index('datetime', drop=True, inplace=True)
    return df2

def datetime2int(df):
    df2 = df.copy()
    date = []
    for i in df2.index:
        date.append(int(i.strftime("%Y%m%d")))
    df2['trade_date'] = date
    df2.set_index('trade_date', drop=True, inplace=True)
    return df2

def net_profit_year(df):
    df2 = df.copy()
    return datetime2int(int2datetime(df2).resample('A').sum())

def eqy_head(df):
    df2 = df.copy()
    return datetime2int(int2datetime(df2).resample('A').head())

def eqy_last(df):
    df2 = df.copy()
    return datetime2int(int2datetime(df2).resample('A').last())


ROEAvg = dv.add_formula("ROEAvg","NPY(net_profit)*2/(EH(tot_shrhldr_eqy_excl_min_int)+EL(tot_shrhldr_eqy_excl_min_int))*100",
                          is_quarterly=True,
                          add_data=True,
                          register_funcs={"NPY":net_profit_year, "EH":eqy_head, "EL":eqy_last})

In [10]:
dv.get_ts_quarter('ROEAvg')

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20140630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20140930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20141231,23.234025,29.263329,13.832722,2.867949,23.888450,18.806212,3.029443,6.898644,20.308959,21.950607,...,25.822863,34.283098,44.924876,NaN,32.240355,37.728288,42.788342,22.355200,63.223107,19.887962
20150331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20150930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20151231,21.370047,34.192370,16.262091,9.318594,28.028799,10.910955,6.150880,5.849848,15.385202,22.304426,...,24.991532,89.823221,46.803653,67.219685,29.959211,20.405315,76.853983,24.542119,28.702133,6.854414
20160331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20160630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20160930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20161231,17.573435,32.753951,19.083853,9.622150,13.826729,16.168113,8.347898,5.113961,10.832017,24.541742,...,43.441803,32.729483,31.249555,45.243961,29.314861,25.403846,27.444579,19.536152,30.543099,8.309357
20170331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20170630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20170930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20171231,16.362340,37.570085,20.134971,1.010168,4.732563,4.856309,5.599251,2.521314,1.964427,19.069358,...,7.077340,5.380754,24.992014,17.677431,3.000934,23.349506,7.637144,4.142660,33.086155,14.926548

## AD20
$AD20 = MA(AD,20)$

In [11]:
dv.add_field('AD20', ds)

Query data - query...
当前请求query...
{'fields': 'AD20', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [12]:
# AD = dv.add_formula('AD_J',
#                     "Ta('AD',0,0,high,low,close,volume)",
#                       is_quarterly=False, add_data=True)
AD20 = dv.add_formula('AD20_J',
                      "Ta('MA',0,0,0,0,Ta('AD',0,0,high,low,close,volume),0,20)",
                      is_quarterly=False, add_data=True)

In [13]:
print(spearman_factor(factor_u='AD20', factor_j='AD20_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.50497
dtype: float64, array([  1.44286920e-271]))

## alpha122

In [14]:
def sma(df, n, m):
    a = n / m - 1
    r = df.ewm(com=a, axis=0, adjust=False)
    return r.mean()

In [15]:
alpha122 = dv.add_formula("alpha122","(SMA(SMA(SMA(Log(close),13,2),13,2),13,2)-Delay(SMA(SMA(SMA(Log(close),13,2),13,2),13,2),1))/Delay(SMA(SMA(SMA(Log(close),13,2),13,2),13,2),1)",
                          is_quarterly=False,
                          add_data=True,
                          register_funcs={"SMA":sma})

In [16]:
dv.get_ts("alpha122").head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,-0.000102,0.006108,0.000119,-0.000583,0.000201,0.004705,-0.001249,0.000720,-0.001388,0.0,...,NaN,NaN,0.005979,NaN,NaN,0.001012,-0.004258,NaN,0.000020,-0.007225
20160105,-0.000265,0.005818,-0.000220,-0.000789,-0.000106,0.004156,-0.001622,0.000288,-0.001649,0.0,...,NaN,NaN,0.007291,NaN,NaN,0.000733,-0.005455,NaN,0.000145,-0.007280
20160106,-0.000426,0.005506,-0.000590,-0.000989,-0.000439,0.003557,-0.002033,-0.000106,-0.001910,0.0,...,NaN,NaN,0.008622,NaN,NaN,0.000449,-0.006540,NaN,0.000314,-0.007215
20160107,-0.000648,0.005180,-0.001110,-0.001305,-0.000899,0.002802,-0.002587,-0.000408,-0.002305,0.0,...,NaN,NaN,0.009935,NaN,NaN,0.000087,-0.007566,NaN,0.000391,-0.007292
20160108,-0.000869,0.004849,-0.001671,-0.001671,-0.001391,0.002006,-0.003170,-0.000557,-0.002720,0.0,...,NaN,NaN,0.011207,NaN,NaN,-0.000288,-0.008442,NaN,0.000483,-0.007322

# BIAS10
$BIAS = (close/MA(close,N)-1)*100$ &nbsp;&nbsp;&nbsp;&nbsp;(N=10)

In [17]:
dv.add_field('BIAS10', ds)

Query data - query...
当前请求query...
{'fields': 'BIAS10', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [18]:
BIAS10 = dv.add_formula('BIAS10_J', 
                        "(close/Ta('MA',0,open,high,low,close,volume,10)-1)*100", 
                        is_quarterly=False, add_data=True)

In [19]:
print(spearman_factor(factor_u='BIAS10', factor_j='BIAS10_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.984317
dtype: float64, array([ 0.]))

## alpha136
$alpha136 = ((-1 * RANK(DELTA(RET, 3))) * CORR(OPEN, VOLUME, 10))$

In [20]:
alpha136 = dv.add_formula("alpha136","((-1*Rank(Delay(Return(close,1,0), 3)))*Correlation(open, volume, 10))",
                          is_quarterly=False,
                          add_data=True)

In [21]:
dv.get_ts("alpha136").head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20160104,-93.541864,NaN,-490.060552,-405.485912,198.176010,-15.322493,-391.505391,-124.498639,-245.682467,NaN,...,NaN,NaN,NaN,NaN,NaN,-232.630974,1.934478,NaN,-202.516167,-79.430610
20160105,-103.623783,NaN,-159.483389,105.967446,5.482369,-181.990969,-117.444076,-11.325993,-3.867436,NaN,...,NaN,NaN,-590.761954,NaN,NaN,-50.847287,231.233426,NaN,0.267473,22.505585
20160106,-173.052101,NaN,-118.033501,210.337345,-20.800600,-185.143054,-79.388741,-15.763672,-55.717310,NaN,...,NaN,NaN,-516.198853,NaN,NaN,-41.451709,26.606062,NaN,-219.772475,425.758473
20160107,-295.727372,NaN,-175.899299,44.775693,-7.607261,-250.492254,-2.855234,-20.596388,-65.489934,NaN,...,NaN,NaN,-689.114221,NaN,NaN,-42.323401,17.634880,NaN,3.421249,242.131020
20160108,-51.792176,NaN,-41.377633,216.245293,-69.331127,-197.402504,-9.690350,-6.460119,83.682903,NaN,...,NaN,NaN,-660.957541,NaN,NaN,-42.671538,14.956777,NaN,113.771999,246.854560

## SUE[P95]
## $SUE = \frac{NP_1-mean(NP_{-1})}{sd(NP_{-1})}$

In [22]:
dv.add_field('SUE', ds)

Query data - query...
当前请求query...
{'fields': 'SUE', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [23]:
dv.add_field('net_profit', ds)
dv.get_ts_quarter('net_profit')

Field name [net_profit] already exists.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20140630,1.007200e+10,5.492480e+09,4.868121e+07,8.633415e+06,3.177001e+08,617196948.0,-1.123359e+07,4654809.64,1.206980e+09,3.575874e+08,...,0.000000e+00,NaN,NaN,NaN,0.000000e+00,122533246.0,0.000000e+00,NaN,1.760243e+08,9.933424e+08
20140930,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.00,0.000000e+00,0.000000e+00,...,NaN,NaN,1.934152e+08,NaN,NaN,0.0,4.326335e+08,NaN,2.658429e+08,0.000000e+00
20141231,1.980200e+10,1.928752e+10,5.124536e+08,7.766403e+06,4.725486e+08,939764732.0,1.605562e+08,8566208.16,2.336102e+09,6.698412e+08,...,3.853963e+08,1.508789e+09,2.729545e+08,NaN,4.307160e+08,237998237.0,4.149955e+08,1.840874e+08,3.293916e+08,1.800202e+09
20150331,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.00,0.000000e+00,0.000000e+00,...,NaN,NaN,0.000000e+00,0.000000e+00,NaN,0.0,0.000000e+00,NaN,0.000000e+00,0.000000e+00
20150630,1.158500e+10,6.789482e+09,2.683802e+08,7.709856e+07,2.288433e+08,220596420.0,1.386142e+08,7308716.54,1.204699e+09,3.996423e+08,...,NaN,NaN,1.447719e+08,2.406584e+08,NaN,139710767.0,5.025523e+08,NaN,2.009424e+08,4.374959e+08
20150930,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.00,0.000000e+00,0.000000e+00,...,NaN,2.890628e+09,2.494476e+08,0.000000e+00,0.000000e+00,0.0,9.623460e+08,0.000000e+00,0.000000e+00,0.000000e+00
20151231,2.186500e+10,2.594944e+10,4.387859e+08,1.899092e+08,9.658984e+08,639832667.0,1.806603e+08,42738043.55,2.057693e+09,7.873479e+08,...,4.828990e+08,3.533702e+09,3.469551e+08,5.017114e+08,5.330100e+08,277733069.0,1.028065e+09,2.614252e+08,4.070532e+08,7.031084e+08
20160331,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
20160630,1.229200e+10,7.094631e+09,1.060297e+08,4.196213e+07,2.011908e+08,465301322.0,2.175383e+08,17969489.16,9.193172e+08,5.543720e+08,...,3.086051e+08,6.046811e+08,1.892626e+08,2.462152e+08,1.408690e+08,166293078.0,7.059281e+08,1.021922e+08,2.434654e+08,5.015623e+08
20160930,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.257957e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
20161231,2.259900e+10,2.835026e+10,8.038765e+08,5.305416e+08,4.194821e+08,804226524.0,2.237407e+08,27617932.54,1.406635e+09,1.281880e+09,...,9.434074e+08,1.769911e+09,4.355452e+08,6.132312e+08,4.213204e+08,342044008.0,1.249787e+09,2.801368e+08,4.812624e+08,1.019238e+09
20170331,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
20170630,1.255400e+10,1.005299e+10,2.633048e+08,6.275545e+07,2.182126e+08,400214048.0,3.224564e+08,23401386.78,4.329327e+08,5.995337e+08,...,4.135635e+08,6.775174e+08,1.831430e+08,3.789907e+08,9.075116e+07,205051827.0,6.389702e+08,1.070379e+08,2.804502e+08,1.369448e+09
20170930,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.0,0.000000e+00,0.00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
20171231,2.318900e+10,3.720839e+10,8.204825e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.156739e+09,...,NaN,NaN,5.132809e+08,NaN,NaN,396855172.0,NaN,NaN,6.271620e+08,3.595615e+09

In [24]:
def net_profit_to_year(df):
    df2 = df.copy()
#     df2 = df.copy().fillna(method='ffill')   # 净利润net_profit部分数据缺失，进行向后填充
    netProfit = df2.copy()
    for i in netProfit.index[1:]:
        netProfit.drop(i, inplace=True)
    for i in df.index[1:]:
        year = int(i/10000)
        year_df = int(netProfit.index[-1]/10000)
        if year == year_df :
            netProfit.iloc[-1] = netProfit.iloc[-1] + df2.loc[i]
        else:
            netProfit = netProfit.append(df.loc[i])
    return netProfit

def SUE(df, close):
    df2 = df.copy()
    df_day = close.copy()
#     for i in df2.index:                     # 将不满一年的净利润数据删除
#         if(int(str(i)[4:6])!=3):
#             df2.drop(i, inplace=True)
    sue = df2.copy()
    for i in sue.index[0:2]:
        sue.drop(i, inplace=True)
    for i in sue.index :
        if int(i/10000)<(int(df2.index[0]/10000)+4) :    # 小于五年，取全部
            sue.loc[i] = (df2.loc[i] - df2.loc[:i].drop(i).mean())/df2.loc[:i].drop(i).std()
        else:                                            # 取最近五年
            sue.loc[i] = (df2.loc[i] - df2.loc[:i].iloc[-5:].drop(i).mean())/df2.loc[:i].iloc[-5:].drop(i).std()
    for i in df_day.index:
        if i in sue.index:
            df_day.loc[i] = sue.loc[i]
        else:
            df_day.loc[i] = np.NaN
    df_day = df_day.fillna(method='ffill')
    return df_day

SUE = dv.add_formula("SUE_J","SUE(NP2Y(net_profit),close)",
                     is_quarterly=False,
                     add_data=True,
                     register_funcs={"NP2Y":net_profit_to_year, "SUE":SUE})

In [25]:
dv.get_ts("SUE_J").tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000025.SZ,000027.SZ,000028.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,0.655069,0.5786,2.393378,8.420144,0.911972,0.004505,1.563421,0.918156,0.212709,0.596737,...,inf,NaN,NaN,NaN,6.745219,1.214501,-0.810768,NaN,1.077895,2.170762
20171226,0.655069,0.5786,2.393378,8.420144,0.911972,0.004505,1.563421,0.918156,0.212709,0.596737,...,inf,NaN,NaN,NaN,6.745219,1.214501,-0.810768,NaN,1.077895,2.170762
20171227,0.655069,0.5786,2.393378,8.420144,0.911972,0.004505,1.563421,0.918156,0.212709,0.596737,...,inf,NaN,NaN,NaN,6.745219,1.214501,-0.810768,NaN,1.077895,2.170762
20171228,0.655069,0.5786,2.393378,8.420144,0.911972,0.004505,1.563421,0.918156,0.212709,0.596737,...,inf,NaN,NaN,NaN,6.745219,1.214501,-0.810768,NaN,1.077895,2.170762
20171229,0.655069,0.5786,2.393378,8.420144,0.911972,0.004505,1.563421,0.918156,0.212709,0.596737,...,inf,NaN,NaN,NaN,6.745219,1.214501,-0.810768,NaN,1.077895,2.170762

### 结果解释 : net_profit净润数据只有两年多的，不到三年，因子要求是需要最少三年的，为了防止结果全部为NaN，没有删除部分数据缺失的2015年数据（上面注释部分）

In [26]:
print(spearman_factor(factor_u='SUE', factor_j='SUE_J', start=20170401, symbol=stock_symbol))

(spearmanr    0.235809
dtype: float64, array([  4.03553538e-134]))

## LongDebtToAsset[P50]

## $LongDebtToAsset = \frac{LTL}{TA}$

In [27]:
dv.add_field('lt_borrow', ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [28]:
dv.add_field('tot_assets', ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - quarterly fields prepared.

True

In [29]:
dv.add_field('LongDebtToAsset', ds)

Query data - query...
当前请求query...
{'fields': 'LongDebtToAsset', 'view': 'factor'}
下载进度946/981.
WARNING: some data is unavailable:
    At fields 000748.SZ, 600005.SH
Query data - daily fields prepared.

True

In [30]:
LongDebtToAsset = dv.add_formula('LongDebtToAsset_J',
                                 "lt_borrow/tot_assets",
                                 is_quarterly=False, add_data=True)

In [31]:
print(spearman_factor(factor_u='LongDebtToAsset', factor_j='LongDebtToAsset_J', start=20160101, symbol=stock_symbol))

(spearmanr    0.998305
dtype: float64, array([ 0.]))